<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div ng-init="flag=false;course=[{name:'珠峰',chinese:70,math:20,english:80},{name:'珠峰1',chinese:40,math:50,english:60},{name:'珠峰2',chinese:50,math:60,english:50}]"></div>
<input type="text" ng-model="query"/>
    <table class="table table-bordered">
        <tr>
        <th>名称</th>
        <th>语文</th>
        <th>数学</th>
        <th>英语</th>
        </tr>
        <tr ng-repeat="s in course |orderBy:'chinese':flag">
            <td>{{s.name}}</td>
            <td>{{s.chinese}}</td>
            <td>{{s.math}}</td>
            <td>{{s.english}}</td>
        </tr>
    </table>
<script src="angular/angular.js"></script>
</body>
</html>